<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
    <add key="DebugMode" value="true" />

    <!-- Uncomment to use fan-out Redis Server Events -->
    <!--<add key="RedisHost" value="localhost:6379" />-->
    <!-- Auth config -->
    <add key="oauth.RedirectUrl" value="http://localhost:1337/" />
    <!-- Should match with OAuth2's App Callback URL -->
    <add key="oauth.CallbackUrl" value="http://localhost:1337/auth/{0}" />
    <!-- Create Twitter App at: https://dev.twitter.com/apps -->
    <add key="oauth.twitter.ConsumerKey" value="6APZQFxeVVLobXT2wRZArerg0" />
    <add key="oauth.twitter.ConsumerSecret" value="bKwpp31AS90MUBw1s1w0pIIdYdVEdPLa1VvobUr7IXR762hdUn" />
    
    <!-- Autoupdate config-->
    <add key="EnableAutoUpdate" value="true" />
    <add key="UpdateManagerUrl" value="https://github.com/ServiceStackApps/ReactChatApps"/>
  </appSettings>
</configuration>